* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;

	
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -2px;
	line-height: 100%;
}

h1.title {
	font-size: 46px;
	font-weight: 700;
	color: #6a6a6a;


}


.fbWrap {
	position:absolute;
	top: 0px;
	right: 0px;
	z-index: 1000;
	width:80px;
	height: 20px;
	padding: 10px;
	background: #cdd242;
	

}

.twWrap {
	position:absolute;
	top: 0px;
	right: 100px;
	z-index: 1000;
	width:80px;
	height: 20px;
	padding: 10px;
	background: #cdd242;
	

}
.first-letter {
	color: #3d3d3d;
}
h2 {
	font-size: 24px;
}

p {
	margin: 0 0 15px 0;
}

a {
	color: #3e3e3e;
}


.clear {
	clear: both;
}
.wrap {
		/*background:url(../images/bg.png) top left repeat-x;*/
		width: 100%;
		max-width: 1140px;
		min-width: 960px;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;

}

.logo {
	margin:0px 0 30px 0;
	width:50%;
	height: auto;
	max-width: 271px;

	}


.section {
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.col-1-1 {
	width: 100%;
	float: left;
}

.col-1-3 {
	width: 33.33333%;
	float: left;
}

.col-2-3 {
	width: 66.66666%;
	float: left;
}


.col-1-2 {
	width: 50%;
	float: left;
}

.col-1-2 .content {
	padding:0 30px 0 0;
}

.content {
	padding:0 20px 0 0;
}

.homeNews {
	padding:90px 0 0 0;
	text-align: left;
}


.header {
	font-size: 48px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: -2px;
	color:#9cb846;
}

.s4 .header {
	color:#424242;
}

.txtCenter {
	text-align: center;
}


.subMenu {
	position: absolute;
	top: 462px;
	height: 50px;

	z-index: 1000;
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	
	background: #cdd242;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkZDI0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NGEzNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #cdd242 0%, #74a34a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdd242), color-stop(100%,#74a34a));
background: -webkit-linear-gradient(top,  #cdd242 0%,#74a34a 100%);
background: -o-linear-gradient(top,  #cdd242 0%,#74a34a 100%);
background: -ms-linear-gradient(top,  #cdd242 0%,#74a34a 100%);
background: linear-gradient(to bottom,  #cdd242 0%,#74a34a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdd242', endColorstr='#74a34a',GradientType=0 );



}

.subMenu .inner {
	padding:0;
	font-weight: 400;
}

.subMenu {
	
	
	/*float: left;*/
}

/*.subNavBtn {
	display: block;
	height: 35px;
	float: left;
	margin: 0px 50px 0 0;
	text-decoration: none;
	font-size: 16px;
	padding: 15px 0 0 0;
}*/

.subNavBtn {
	display: block;
	height: 35px;
	width: 12%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	
	color: #3d3d3d;
}



.active {
	background: #fc0;
}
.end {
	margin: 0;
}



.viewDemo {
	width:244px;
	height: 39px;
	display: block;
	padding:20px;
/*	background: url(../images/viewDemo.png) top left no-repeat;
*/	text-decoration: none;
	color: #3d3d3d;
	font-size: 30px;
}

.downloadSmint {
	width:90%;
	max-width: 450px;
	height: auto;
	margin: 0 auto;
	
	display: block;
}

.downloadSmint img, .codeImg {
	width:100%;
	max-width: 445px;
	height: auto;
}


/* SECTIONS */
.sTop {
	min-height: 130px;
	background:#e5e5e5;
	color:#3d3d3d;
	
}



.s1 {
	min-height: 440px;
	background: #313131  no-repeat;
	background-position: right 0px;
	padding:  80px 0 0 0;
}


.s2 {
	min-height: 326px;
	background: #3f3f3f;

}


.s3 {
	min-height: 390px;
	background: #504f4f  no-repeat;
	background-position: left 30px;
	padding:  80px 0 0 0;

}


.s4 {
	min-height: 304px;
/*	background: #aabd46 url(../images/download-bg.png) no-repeat;
*/	background-position: right 40px;
	color: #3d3d3d;
}

.s5 {
	min-height: 304px;
	background: #161616 -100px -70px no-repeat;
}

.footer {
	height: 100px;
	/*background: #161616;*/
}



@media screen and (max-width: 959px) { 

.wrap {
		/*background:url(../images/bg.png) top left repeat-x;*/
		width: 100%;
		max-width: 640px;
		min-width: 320px;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;

}

.codeImg {
	display: none;
}

.col-1-1, .col-1-3, .col-2-3, .col-1-2 {
	width: 100%;
	float: left;
	margin: 0 auto;
	max-width: 800px;
}

.inner {
	width:90%;
	padding:0 5%;
}

.section {

	min-width: 320px;
}

.section .inner {
	padding:20px 5%;
}

.sTop {
	/*height:480px;*/
}

.subMenu {
	position: absolute;
	top: 490px;
	min-height: 50px;

	z-index: 1000;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	

}

.s1, .s3 {
	padding:  0px 0 0 0;
}

.subNavBtn {
	
	font-size: 12px;
	
	

}

.logo{
	margin:20px 0 30px 0;
}
.subMenu .inner {
	width: 100% ;
	padding: 0;
}
/*.subNavBtn {
	display: block;
	height: 35px;
	float: left;
	margin: 0px 30px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 0 0 0;
}*/

h1.title {
	font-size: 36px;
}	

h2 {
	font-size: 20px;
}
.s1, .s3, .s4, .s5 {
	background-image: none;
}

}

@media screen and (max-width: 640px) { 
.wrap {
		
		max-width: 480px;
		

}


.sTop {
	/*height:374px;*/
}

.logo{
	width: 30%
}

.subNavBtn {
	display: block;
	height: 35px;
	width: 29%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	

}

.twWrap {
	
	right:none;
	left:0;

}

.subMenu {
	height: 104px;
	top: 356px;
	max-width: 480px;
}

.homeNews {
	padding: 120px 0 0 0;
}

}




@media screen and(min-width: 330px) and (max-width: 480px) { 
.wrap {
		
		max-width: 320px;
		

}
.sTop {
	/*height:374px;*/
}

.s1 {
	height: auto;
	background-image: none;
	}

h1.title {
	font-size: 28px;
	width: 48%
}


.sTop .txtCenter h1, .sTop .txtCenter h2, .sTop .txtCenter p {
	float: left;
}

.logo {
	margin:0px 0 30px 0;
	width:48%;
	height: auto;
	max-width: 271px;
	float:left;

	}

	.subMenu {
		top:290px;
		max-width: 320px;
	}

.fxd{
	top: none!!important;
	
	bottom:0!important;
}

p.header{
	font-size: 32px;
}

}




@media screen and (max-width: 480px) { 
.inner {
	font-size: 16px;
}
.sTop {
	/*height:374px;*/
}

.s1 {
	height: auto;
	background-image: none;
	}

h1.title {
	font-size: 28px;
	width: 90%;
	margin: 0 auto 15px auto;
	float: none;
}


.sTop .txtCenter h1, .sTop .txtCenter h2, .sTop .txtCenter p {
	float: none;
}

.logo {
	margin:0px 0 20px 0;
	width:28%;
	height: auto;
	max-width: 271px;
	float:none;

	}

	.subMenu {
		top:290px;
	}

.fxd{
	top: none!!important;
	
	bottom:0!important;
}

p.header{
	font-size: 32px;
}

.s5 {
	background-image: none;
}

}
